[submodule "AnEngine/vendor/spdlog"]
	path = AnEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "AnEngine/vendor/GLFW"]
	path = AnEngine/vendor/GLFW
	url = https://github.com/UFifty50/glfw-premake
[submodule "AnEngine/vendor/ImGui"]
	path = AnEngine/vendor/ImGui
	url = https://github.com/UFifty50/imgui-premake.git
	branch = docking
[submodule "AnEngine/vendor/glm"]
	path = AnEngine/vendor/glm
	url = https://github.com/g-truc/glm
