[submodule "AnEngine/vendor/spdlog"]
	path = AnEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
	branch = v2.x
[submodule "AnEngine/vendor/GLFW"]
	path = AnEngine/vendor/GLFW
	url = https://github.com/UFifty50/glfw-premake
[submodule "AnEngine/vendor/ImGui"]
	path = AnEngine/vendor/ImGui
	url = https://github.com/UFifty50/imgui-premake.git
	branch = docking
[submodule "AnEngine/vendor/glm"]
	path = AnEngine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "AnEngine/vendor/fmt"]
	path = AnEngine/vendor/fmt
	url = https://github.com/UFifty50/fmt-premake
[submodule "ENTT"]
	path = AnEngine/vendor/ENTT
	url = https://github.com/UFifty50/ENTT-premake.git
[submodule "yaml-cpp"]
	path = AnEngine/vendor/yaml-cpp
	url = https://github.com/UFifty50/yaml-cpp-premake.git
[submodule "AnEngine/vendor/ImGuizmo-CE"]
	path = AnEngine/vendor/ImGuizmo-CE
	url = https://github.com/UFifty50/ImGuizmo-CE
